* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(151, 196, 212);
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 600px;
	min-height: 200px;
	padding: 30px;
	border-radius: 8px;
	background-color: #ffffff;
}
h1 {
	color: #3665ae;
}
.img {
	margin: 20px;
	height: 300px;
}
.btn {
	align-items: center;
	background-color: #ecf0f8;
	border-radius: 12px;
	box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
	box-sizing: border-box;
	color: #353535;
	cursor: pointer;
	display: inline-flex;
	flex: 1 1 auto;
	font-family: Inter, sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	justify-content: center;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 1rem 1.2rem;
	text-align: center;
	text-decoration: none;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	white-space: nowrap;
	border: 0;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn:hover {
	box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.fun-fact {
	margin-top: 20px;
}
